#root {
    text-align: center;
    width: 100%;
}

.center {
    width: max-content;
    float: left;
    width: calc(100% - var(--margin-left-img) * 2);
    margin-left: var(--margin-left-img);
}

.side {
    position: fixed;
    height: 100vh;
    max-width: var(--margin-left-img);
}

.left {
    left: 0;
    float: left;
}

.right {
    right: 0;
    float: right;
}

@media (max-width: 750px) {
    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .center {
        margin-left: 0;
        width: 100%;
    }
}

@media print {
    .side {
        visibility: hidden;
    }

    .navbar-toggler {
        visibility: hidden;
    }

    .center {
        margin-left: 0;
        width: 100%;
    }
}
